.checkbox--container
  .checkbox--item
    input.checkbox--input(type="checkbox", value="1", name="checkbox", id="checkbox_1")
    label.checkbox--label(for="checkbox_1")
      span.checkbox--mock
      span.checkbox--text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  .checkbox--item
    input.checkbox--input(type="checkbox", value="2", name="checkbox", id="checkbox_2")
    label.checkbox--label(for="checkbox_2")
      span.checkbox--mock
      span.checkbox--text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  .checkbox--item
    input.checkbox--input(type="checkbox", value="3", name="checkbox", id="checkbox_3")
    label.checkbox--label(for="checkbox_3")
      span.checkbox--mock
      span.checkbox--text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
