.nps--container
  .nps--header
    .smalltext 0 - zeker niet
    .bigtext 10 - zeker wel
  - var n = 0
  ul.nps--list
    while n < 11
      li.nps--item
        input.nps--radio(type='radio', name='nps', id="nps_"+n, value=n)
        label.nps--label(for="nps_"+n)=n++
