.star--container.no-border.left
  .star--container--image
    input.star--radio#bewertung_researh_1(type='radio', name='bewertungStar_researh', value='1')
    label.star--image(for='bewertung_researh_1')
    input.star--radio#bewertung_researh_2(type='radio', name='bewertungStar_researh', value='2')
    label.star--image(for='bewertung_researh_2')
    input.star--radio#bewertung_researh_3(type='radio', name='bewertungStar_researh', value='3')
    label.star--image(for='bewertung_researh_3')
    input.star--radio#bewertung_researh_4(type='radio', name='bewertungStar_researh', value='4')
    label.star--image(for='bewertung_researh_4')
    input.star--radio#bewertung_researh_5(type='radio', name='bewertungStar_researh', value='5')
    label.star--image(for='bewertung_researh_5')
    input.bewertung#bewertung_researh(type='hidden', value='0')
  .star--container--text
    span.changeable-text 0
    span /5
