.section
  .section--item.full
    .section--item--header Bedankt voor uw tijd!
    .section--item-help-text 
      | Uw feedback wordt zo spoedig mogelijk door onze onafhankelijke klantenfeedbackmanagers gecontroleerd worden. Normaal gesproken zal uw recensie binnen 24 uur worden gepubliceerd. 
      br 
      br 
      | eKomi - The Feedback Company
  .section--item.full
    .ty-image--container
      .ty--item
        a.ty--link(href="http://store.hp.com/NetherlandsStore/Merch/List.aspx?sel=ACC&ctrl=f", target="_blank")
          img.ty--image(src="img/Mos-Acc-v2.jpg", alt="Mos-Acc-v2")
      .ty--item
        a.ty--link(href="http://store.hp.com/NetherlandsStore/Merch/Offer.aspx?p=nieuw", target="_blank")
          img.ty--image(src="img/Mos-New-v2.jpg", alt="Mos-New-v2")
      .ty--item
        a.ty--link(href="http://store.hp.com/NetherlandsStore/Merch/Offer.aspx?p=Aanbiedingen", target="_blank")
          img.ty--image(src="img/Mos-Sale-v2.jpg", alt="Mos-Sale-v2")
      .ty--item
        a.ty--link(href="http://store.hp.com/NetherlandsStore/Merch/Supplies.aspx", target="_blank")
          img.ty--image(src="img/Mos-Sup-v2.jpg", alt="Mos-Sup-v2")
