@import 'vendor/normalize/normalize';
@import 'vendor/bourbon/bourbon';
@import 'vendor/neat/neat';
@import 'part/variable';
@import 'part/hpfont';


@include normalize();

body {
  color: $color-text-main;
  font-family: $font-family-base;
  font-size: $font-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}

*::before,
*::after {
  box-sizing: initial;
}

.header {
  background-color: $color-blue-hp;
  height: 80px;

  .header--container {
    box-sizing: border-box;
    color: $color-white;
    display: table;
    margin: 0 auto;
    max-width: $size--outer-container;
    padding: 20px .5em;
    width: auto;

    .header--logo,
    .header--text {
      display: table-cell;
      vertical-align: middle;
    }

    .header--logo {
      background-image: url('../../img/hp-sprite.png');
      background-position: -119px -236px;
      background-repeat: no-repeat;
      fill: $color-white;
      height: 40px;
      width: 40px;
    }

    .header--text {
      font-family: $font-family-light;
      font-size: 2.16667em;
      padding-left: 15px;
      width: calc(100% - 55px);
    }
  }
}

@media all and (min-width: $tablet-breakdown) {
  .header {
    margin-bottom: 32px;
  }
}

@media all and (min-width: $desktop-breakdown) {
  .header {

    .header--container {
      padding: 20px 0;
      width: 100%;
    }
  }
}


.container {
  margin: 0 auto;
  max-width: $size--outer-container;
  width: 100%;
}

@import 'part/navigation'; // navigation styling is here

.section {
  border-top: 1px solid $color-grey-border-hp--2;
  box-sizing: border-box;
  padding: 20px 15px;

  .section--item {
    margin-bottom: 15px;

    .section--item--header {
      font-family: $font-family-bold;
      font-size: 1.5em;
      font-weight: 700;
      margin-bottom: 15px;
    }

    &.distance--bottom > * {
      margin-bottom: 15px;
    }
  }
}

.section--item-help-text {
  font-size: 1.33333em;

  &.small {
    font-size: .833333em;
  }

  &.right {
    text-align: right;
  }
}

.clear {
  clear: both;
}

@media all and (min-width: $tablet-breakdown) {
  .section {
    border: 1px solid $color-grey-border-hp--2;
    display: table;
    margin-top: 31px;
    width: 100%;

    .section--item {
      float: left;
      margin-bottom: 0;
      width: 50%;

      &.full {
        float: none;
        width: 100%;
      }

      &.border {
        border: 1px solid $color-grey-border-hp--2;
        padding: 34px 15px;
      }

      &.distance--top {
        margin-top: 31px;
      }

      &.distance--bottom > * {
        margin-bottom: 30px;
      }

      &.distance--bottom > *:last-child {
        margin-bottom: 0;
      }

      .section--item--header {
        font-size: 1.66666666667em;
      }

      .right-side {
        margin-left: auto;
        margin-right: 0;
        max-width: 334px;
      }

      &.force-width > * {
        margin-left: auto;
        margin-right: 0;
        max-width: 334px;
      }
    }
  }

  .section--item-help-text {

    &.small {
      font-size: 1.33333em;
    }

    &.right {
      text-align: left;
    }
  }
}

@media all and (min-width: $desktop-breakdown) {
  .section {
    padding: 33px;
  }
}

.product--container {
  text-align: center;
  width: 100%;

  img {
    height: auto;
    width: 100%;
  }
}

@import 'part/starContainer'; //star container

@import 'part/emailContainer'; //email container

@import 'part/textareaContainer'; //textarea container

@import 'part/npsContainer'; //textarea container

@import 'part/checkboxContainer'; //checkbox container

@import 'part/radioContainer'; //radio container

@import 'part/submitContainer'; //submit

@import 'part/tyContainer'; //ty page image grid

@import 'part/footerContainer'; //footer

.preloader {
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  z-index: -9999;
}
