.star--container {

  .star--container--image {
    position: relative;
    text-align: center;

    .star--radio {
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      z-index: -1;
    }

    .star--image {
      background-image: url('../../img/starEmpty.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      display: inline-block;
      height: 49px;
      margin-right: 5px;
      width: 51px;

      &:last-of-type {
        margin-right: 0;
      }

      &.star--image-fill {
        background-image: url('../../img/starFull.png');
      }
    }
  }

  .star--container--text {
    display: none;
  }
}

@media all and (min-width: $tablet-breakdown) {
  .star--container {
    border: 1px solid $color-grey-border-hp--2;
    box-sizing: border-box;
    margin: 0 0 0 auto;
    max-width: 334px;
    overflow: visible;
    padding: 9px 20px 9px 25px;
    white-space: nowrap;

    &.no-border {
      border: 0;
    }

    &.left {
      margin: 0;
      padding: 0;
    }

    .star--container--image,
    .star--container--text {
      display: inline-block;
      vertical-align: middle;
    }

    .star--container--image {
      text-align: left;

      .star--image {
        height: 30px;
        margin-right: 15px;
        width: 31px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    .star--container--text {
      color: $color-text-dark-header;
      font-family: $font-family-bold;
      font-size: 2.66666667em;
      font-weight: 700;
      margin-left: 10px;
    }
  }
}

@media all and (min-width: $desktop-breakdown) {
  .star--container {

    .star--container--text {
      margin-left: 22px;
    }
  }
}
