.ty-image--container {
  @include outer-container;
  margin-top: 15px;

  .ty--item {
    @include span-columns(6);
    width: 47%;
  }
}

.ty--link {
  cursor: pointer;
  display: block;
  width: 100%;

  .ty--image {
    height: auto;
    width: 100%;
  }
}

@media all and (min-width: $tablet-breakdown) {
  .ty-image--container {
    margin-top: 30px;

    .ty--item {
      @include span-columns(3);

      &:nth-child(1),
      &:nth-child(2) {
        padding-bottom: 0;
      }

      &:nth-child(odd) {
        padding-right: 0;
      }

      &:nth-child(even) {
        padding-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
