
<meta name="robots" content="NOINDEX,NOFOLLOW"/>
<meta lang="de" name="keywords" xml:lang="de" content="feedback eKomi"/>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta lang="de" name="description" xml:lang="de" content="eKomi - The Feedback Company"/>
<meta name="author" content="eKomi - The Feedback Company"/>
<meta http-equiv="Content-Script-Type" content="text/javascript"/>
<meta http-equiv="Content-Style-Type" content="text/css"/>
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>
<meta name="format-detection" content="telephone=no"/>
<meta http-equiv="x-rim-auto-match" content="none"/>
<link rel="author" href="http://www.ekomi.de/de/impressum" title="Imprint"/>
<link rel="shortcut icon" type="image/x-icon" href="/images/ekomi.ico"/>
<script type="text/javascript" src="/includes/flash/swfobject_cookie.js"></script>