
<div class="radio--container">
  <div class="radio--item">
    <input type="radio" value="1" name="radio" id="radio_1" class="radio--input"/>
    <label for="radio_1" class="radio--label"><span class="radio--mock"></span><span class="radio--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span></label>
  </div>
  <div class="radio--item">
    <input type="radio" value="2" name="radio" id="radio_2" class="radio--input"/>
    <label for="radio_2" class="radio--label"><span class="radio--mock"></span><span class="radio--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span></label>
  </div>
  <div class="radio--item">
    <input type="radio" value="3" name="radio" id="radio_3" class="radio--input"/>
    <label for="radio_3" class="radio--label"><span class="radio--mock"></span><span class="radio--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span></label>
  </div>
</div>