.section
  .section--item.border
    .product--container
      img(src="img/product.png", alt="product")
  .section--item.distance--bottom.force-width
    .section--item--header.right-side HP HD 2300 webcam HP HD 20...
    include template/_starContainer.jade
    include template/_textareaContainer.jade
  .clear
  .section--item.full.border.distance--top
    .section--item--header Radio Question
    include template/_radioContainer.jade
  .section--item.full.border.distance--top
    .section--item--header Checkbox Question
    include template/_checkboxContainer.jade
  .section--item.full.border.distance--top
    .section--item--header Star Question
    include template/_starContainer-research.jade
include template/_submitContainer.jade
