.section
  .section--item
    .section--item--header Hoe tevreden bent u met HP Online Store ?
    .section--item-help-text.small.right (5 sterren = zeer goed)
  .section--item
    include template/_starContainer.jade
  .clear
  .section--item.full
    include template/_emailContainer.jade
.section
  .section--item
    .section--item--header Uw persoonlijke feedback
    .section--item-help-text Hulpvragen: Geef een beschrijving van uw ervaring met HP Online Store Nederland. Waar bent u het meest tevreden over? Indien nodig, wat kan beter?
  .section--item
    include template/_textareaContainer.jade
.section
  .section--item.full
    .section--item--header NPS Question
  .section--item.full
    include template/_npsContainer.jade
include template/_submitContainer.jade
